body {
  margin: 0;
  padding: 0;
}

.FlashPlayer{
  display: flex;
  justify-content: center;
}
.AdminForm{
  background: rgba(0, 0, 0, .025);
  height: 100vh;
  width: 100vw;
}
.GameForm .files-dropzone{
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
}
.GameForm .files-dropzone:hover{
  background-color: rgba(34,36,38,.1);;
  border: 1px solid rgba(34,36,38,.1);;
}
